body, nav, ul, li, a  {margin: 0; padding: 0;}
body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
a {text-decoration: none;}
.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.toggleMenu {
  margin: 10px;
  display:  none;
  background-color: #362f2f;
  padding: 10px 15px;
  color: #fff;
  font-size: 22px;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.toggleMenu__pressed {
  background-color: #fff;
  color: #362f2f;
  border: 1px solid #362f2f;
  transition: 0.3s;
}
.nav {
  display: inline-block;
  list-style: none;
  *zoom: 1;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.nav > li {
  border-bottom: 1px solid transparent;
}
.nav > li:hover {
  border-bottom: 1px solid orange;
}
.nav:before,
.nav:after {
  content: " ";
  display: table;
}
.nav:after {
  clear: both;
}
.nav ul {
  list-style: none;
  width: 9em;
}
.nav a {
  padding: 10px 15px;
  color: #362f2f;
}
.nav li {
  position: relative;
}
.nav > li {
  float: left;
}
.nav > li > .parent {
  //background-image: url("images/downArrow.png");
  background-repeat: no-repeat;
  background-position: right;
}
.nav > li > a {
  display: block;
}
.nav li  ul {
  position: absolute;
  left: -9999px;
}
.nav > li.hover > ul {
  left: 0;
}
.nav li li.hover ul {
  left: 100%;
  top: 0;
}
.nav li li a {
  background-color: #fff;
  display: block;
  position: relative;
  z-index:100;
}
.nav li li a{
  padding-left: 20px;
}
.nav li li a:hover {
  position: relative;
  color: #c3a000;
}
.nav li li a:hover:before {
  position: absolute;
  left: 0;
  top: 10px;
  font-size: 10px;
  color: black;
  content: "►";
}
.nav li li li a {
  background:#fff;
  z-index:200;
}

@media only screen and (min-width: 768px) {
  .nav-container {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}
@media screen and (max-width: 768px) {
  .active {
    display: block;
  }
  .nav > li {
    float: none;
  }
  .nav > li > .parent {
    background-position: 95% 50%;
  }
  .nav li li .parent {
    //background-image: url("images/downArrow.png");
    background-repeat: no-repeat;
    background-position: 95% 50%;
  }
  .nav ul {
    display: block;
    width: 100%;
  }
  .nav > li.hover > ul , .nav li li.hover ul {
    position: static;
  }

}