.navigation_pagination {
  display: flex;
  justify-content: center;
  & .next, .prev {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 80px;
    height: 40px;
    background-color: #362f2f;

    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
  }
  & a, span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 10px;
  }
}