.partners {
  &__wrapper {
    margin-bottom: 30px;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    & > li {
      margin: 10px auto;
      padding: 0 20px;
    }
  }
}