@charset "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section {
  display: block; }

body {
  line-height: 1.2; }

ol {
  padding-left: 1.4em;
  list-style: decimal; }

ul {
  padding-left: 1.4em;
  list-style: square; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.wide-container {
  margin: auto;
  padding: 0 5px;
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.thin-container {
  margin: auto;
  padding: 0 5px;
  max-width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

body, nav, ul, li, a {
  margin: 0;
  padding: 0; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

a {
  text-decoration: none; }

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.toggleMenu {
  margin: 10px;
  display: none;
  background-color: #362f2f;
  padding: 10px 15px;
  color: #fff;
  font-size: 22px;
  width: 50px;
  height: 50px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.toggleMenu__pressed {
  background-color: #fff;
  color: #362f2f;
  border: 1px solid #362f2f;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.nav {
  display: inline-block;
  list-style: none;
  margin-top: 30px;
  *zoom: 1;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase; }

.nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.nav > li {
  border-bottom: 1px solid transparent; }

.nav > li:hover {
  border-bottom: 1px solid orange; }

.nav:before,
.nav:after {
  content: " ";
  display: table; }

.nav:after {
  clear: both; }

.nav ul {
  list-style: none;
  min-width: 11em; }

.nav a {
  padding: 10px 15px;
  color: #362f2f; }

.nav li {
  position: relative; }

.nav > li {
  float: left; }

.nav > li > .parent {
  background-repeat: no-repeat;
  background-position: right; }

.nav > li > a {
  display: block; }

.nav li ul {
  position: absolute;
  left: -9999px; }

.nav > li.hover > ul {
  left: 0; }

.nav li li.hover ul {
  left: 100%;
  top: 0; }

.nav li li a {
  background-color: #fff;
  display: block;
  position: relative;
  z-index: 100; }

.nav li li a {
  padding-left: 25px; }

.nav li li li a {
  padding-left: 40px; }

.nav li li a:hover {
  position: relative;
  color: #c3a000; }

.nav li li a:hover:before {
  position: absolute;
  left: 0;
  top: 10px;
  font-size: 10px;
  color: black;
  content: "►"; }

.nav li li li a {
  background: #fff;
  z-index: 200; }

@media only screen and (min-width: 768px) {
  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .nav {
    margin-top: 0; }
  .nav__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

@media screen and (max-width: 768px) {
  .active {
    display: block; }
  .nav > li {
    float: none; }
  .nav > li > .parent {
    background-position: 95% 50%; }
  .nav li li .parent {
    background-repeat: no-repeat;
    background-position: 95% 50%; }
  .nav ul {
    display: block;
    width: 100%; }
  .nav > li.hover > ul, .nav li li.hover ul {
    position: static; } }

.header__logo__wrapper {
  display: block;
  position: absolute;
  margin: 0 auto;
  left: calc(50% - 50px);
  top: 0;
  z-index: 1; }

@media only screen and (min-width: 768px) {
  .header__logo__wrapper__with-menu {
    left: 65%; } }

@media only screen and (min-width: 1100px) {
  .header__logo__wrapper__with-menu {
    left: calc(50% - 50px); } }

.social-list__wrapper {
  margin: 40px auto 10px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.social-list__link {
  display: block;
  padding: 7px;
  color: #362f2f;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .social-list__link:hover {
    color: #887878; }

@media only screen and (min-width: 768px) {
  .social-list__wrapper {
    margin: 0; } }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.big-image__slider__info__wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 263px;
  min-height: 263px;
  background-color: #fff;
  z-index: 99999; }
  .big-image__slider__info__wrapper__pressed {
    width: 45px;
    min-height: 45px; }

.big-image__slider__info__compress-btn {
  float: right;
  margin: 10px;
  background-color: transparent;
  border: transparent;
  outline: none;
  color: #c29f00;
  font-size: 16px;
  cursor: pointer; }

.big-image__slider__info__content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 15px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .big-image__slider__info__content__wrapper__hidden {
    display: none; }

.big-image__slider__info__text__wrapper {
  color: #362f2f; }

.big-image__slider__info__text__name {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase; }

.big-image__slider__info__text__role {
  font-size: 14px;
  font-weight: 400;
  font-style: italic; }

.big-image__slider__info__text__paragraph {
  max-width: 160px;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px; }

.big-image__slider__info__operate-buttons__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: center; }
  .big-image__slider__info__operate-buttons__wrapper > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.big-image__slider__info__answer__wrapper {
  margin-top: 40px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none; }
  .big-image__slider__info__answer__wrapper a {
    text-decoration: none;
    color: #c29f00;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .big-image__slider__info__answer__wrapper a:hover {
      color: #dbb500; }
  .big-image__slider__info__answer__wrapper__hide {
    display: none; }

.slider__slide__wrapper {
  position: relative; }

.main-page__slider__prev-btn, .main-page__slider__next-btn {
  color: #fff;
  background-color: #362f2f;
  margin: 0;
  padding: 12px 12px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none; }
  .main-page__slider__prev-btn:hover, .main-page__slider__next-btn:hover {
    background-color: #6a5b5b; }

.main-page__image__wrapper {
  position: relative; }
  .main-page__image__wrapper img {
    width: 100%;
    height: 100%; }

.main-page__bottom__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 60px auto 100px;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.main-page__bottom__first-container {
  margin: 0 5px;
  width: 100%;
  max-width: 359px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  text-transform: uppercase; }
  .main-page__bottom__first-container img {
    width: 100%; }
  .main-page__bottom__first-container__headline {
    margin: 25px auto 15px;
    font-size: 18px;
    font-weight: 300; }
  .main-page__bottom__first-container__date {
    font-size: 16px;
    font-weight: 400; }
  .main-page__bottom__first-container__time {
    margin: 15px auto 30px;
    font-size: 14px;
    font-weight: 300; }
  .main-page__bottom__first-container__button {
    display: block;
    width: 100%;
    max-width: 67px;
    height: 67px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    background-color: #c3a000;
    border: none;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .main-page__bottom__first-container__button:hover {
      background-color: #ddb900; }

.main-page__bottom__second-container {
  width: 100%;
  margin: 0 5px;
  max-width: 360px; }
  .main-page__bottom__second-container__headline {
    max-width: 165px;
    padding: 0 0 5px 12px;
    color: #362f2f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid #c3a000; }
  .main-page__bottom__second-container__item__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 25px 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .main-page__bottom__second-container__item__image__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 67px;
    height: 67px;
    overflow: hidden; }
    .main-page__bottom__second-container__item__image__wrapper img {
      width: 100%; }
  .main-page__bottom__second-container__item__text__wrapper {
    width: 100%;
    max-width: 260px;
    color: #362f2f; }
  .main-page__bottom__second-container__item__text__headline {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase; }
  .main-page__bottom__second-container__item__text__date {
    font-size: 11px;
    font-weight: 400; }
  .main-page__bottom__second-container__item__text__paragraph {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px; }
  .main-page__bottom__second-container__item__text__button__wrapper {
    float: right; }
    .main-page__bottom__second-container__item__text__button__wrapper a {
      text-decoration: none;
      color: #c3a000; }

.main-page__bottom__third-container {
  margin: 0 5px;
  padding-top: 20px;
  width: 100%;
  max-width: 315px; }
  .main-page__bottom__third-container__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }
  .main-page__bottom__third-container__social-list {
    margin-top: 30px; }
  .main-page__bottom__third-container__image-wrapper {
    margin-right: 25px;
    width: 100%;
    max-width: 100px;
    height: 100px;
    overflow: hidden; }
  .main-page__bottom__third-container__icon__wrapper {
    display: block; }
    .main-page__bottom__third-container__icon__wrapper i {
      margin-right: 10px; }
    .main-page__bottom__third-container__icon__wrapper a {
      display: inline-block;
      margin: 5px;
      color: #362f2f;
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      text-transform: uppercase; }
  .main-page__bottom__third-container__twitter__wrapper {
    text-align: center;
    margin-top: 80px; }
    .main-page__bottom__third-container__twitter__wrapper i {
      font-size: 22px;
      color: #362f2f;
      margin-bottom: 20px; }
    .main-page__bottom__third-container__twitter__wrapper p {
      color: #c3a000;
      font-size: 18px;
      font-weight: 400;
      line-height: 18px; }
      .main-page__bottom__third-container__twitter__wrapper p a {
        text-decoration: none;
        color: #000000; }

@media only screen and (min-width: 768px) {
  .main-page__bottom__second-container__item__wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: left; } }

@media only screen and (min-width: 1060px) {
  .main-page__bottom__wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; } }

.partners__wrapper {
  margin-bottom: 30px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .partners__wrapper > li {
    margin: 10px auto;
    padding: 0 20px; }

.footer__toheader__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 22px;
  width: 50px;
  height: 50px;
  background-color: #362f2f;
  margin-left: auto;
  color: #fff; }

.footer__credits {
  margin-top: 70px;
  text-align: center; }

.portfolio__wrapper {
  padding: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.portfolio__item {
  position: relative;
  width: 100%;
  max-width: 380px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .portfolio__item__paragraph {
    padding-left: 20px;
    justify-self: flex-start;
    margin-right: auto;
    color: #362f2f;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase; }

.portfolio__img {
  width: 100%; }
  .portfolio__img__hover-block {
    margin: auto;
    position: absolute;
    width: 100%;
    max-width: 250px;
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.54);
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .portfolio__img__hover-block:hover {
      opacity: 1; }
    .portfolio__img__hover-block a {
      display: block;
      padding: 30px; }

.modalBox {
  position: fixed;
  /* create the modal window layer, and have it fill the entire screen */
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  /* set the modal window layer's background color to a translucent black */
  z-index: 99999;
  /* put the layer on top of every other layer */
  opacity: 0;
  /* make the layer invisible intially */
  pointer-events: none; }

.modalBox:target {
  opacity: 1;
  /* make the modal window layer visible */
  pointer-events: auto; }

.modalBox > div {
  width: 100%;
  max-width: 680px;
  /* set the window's width */
  position: relative;
  margin: 20px auto;
  /* center the window horizontally */
  background: #fff; }

.modal__wrapper {
  position: relative; }

.closeWindow {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  color: #c29f00;
  font-weight: bold;
  width: 35px;
  height: 35px;
  z-index: 2; }

@media only screen and (min-width: 500px) {
  .closeWindow {
    width: 66px;
    height: 60px; } }

@media only screen and (min-height: 750px) {
  .modalBox > div {
    max-width: 800px; } }

.blog__list__wrapper {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.blog__list__item {
  width: 100%;
  max-width: 360px;
  margin-bottom: 25px; }
  .blog__list__item:nth-child(even) {
    background-color: #000000; }
  .blog__list__item:nth-child(odd) {
    background-color: #362f2f; }
  .blog__list__item__bottom__sepparator {
    margin: 0 auto;
    padding-top: 20px;
    border-bottom: 1px dashed black;
    background-color: white; }
  .blog__list__item__headline {
    max-width: 320px;
    padding: 10px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase; }
  .blog__list__item__paragraph {
    padding: 10px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300; }
  .blog__list__item__read-button {
    width: 100%;
    max-width: 180px;
    height: 30px;
    margin: 50px auto 30px;
    display: block;
    border: none;
    cursor: pointer;
    outline: none;
    color: #ffffff;
    background-color: #c3a000;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .blog__list__item__read-button:hover {
      background-color: #edc900; }
  .blog__list__item__bottom__wrapper {
    padding: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    /* Text style for "25.08.2014" */
    letter-spacing: 1.2px; }

.blog__list__image__wrapper {
  height: 360px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .blog__list__image__wrapper img {
    width: 100%; }

.pagination {
  text-align: center; }

@media only screen and (min-width: 1100px) {
  .blog__list__wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; } }

.post__top-section__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden; }
  .post__top-section__image-wrapper img {
    width: 100%; }

.post__top-section__article {
  padding: 10px 0 20px; }
  .post__top-section__article__headline {
    margin-top: 15px;
    color: #333333;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase; }
  .post__top-section__article__paragraph {
    margin-bottom: 30px;
    font-size: 13px;
    font-weight: 400;
    line-height: 22.4px;
    text-transform: uppercase; }
  .post__top-section__article__date__wrapper {
    width: 100%;
    max-width: 350px;
    margin: 25px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    color: #333333;
    font-size: 12px;
    font-style: italic; }

.post__top-section__share__wrapper {
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  background-color: #f8f8f8;
  list-style: none; }
  .post__top-section__share__wrapper a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 35px;
    height: 35px;
    margin: 0 10px;
    color: #333333;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .post__top-section__share__wrapper a:hover {
      background-color: #333333;
      color: #f8f8f8; }

.post__top-section__share__refresh {
  margin-left: auto; }

.post__comments-section__wrapper {
  margin-top: 65px; }

.post__comments-section__headline {
  margin-bottom: 5px;
  color: #333333;
  font-size: 18px;
  font-weight: 700; }

.post__comments-section__comments__wrapper {
  list-style: none;
  margin-bottom: 60px; }

.post__comments-section__comments__item {
  margin-top: 20px; }
  .post__comments-section__comments__item__top {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .post__comments-section__comments__item__top span {
      margin-right: 30px; }
  .post__comments-section__comments__item__reply-btn {
    margin-left: auto; }
    .post__comments-section__comments__item__reply-btn a {
      color: #333333;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase; }
  .post__comments-section__comments__item__name {
    color: #333333;
    font-size: 16px;
    font-weight: 400; }
  .post__comments-section__comments__item__date {
    color: #7f8c8c;
    font-size: 12px;
    font-weight: 400; }
  .post__comments-section__comments__item__text__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    background-color: #e6e6e6; }
  .post__comments-section__comments__item__text__paragraph {
    padding: 15px 50px 15px 20px;
    margin: auto; }
  .post__comments-section__comments__item__text__img {
    width: 100%;
    max-width: 70px;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    background-color: #333333;
    color: #fff; }
    .post__comments-section__comments__item__text__img img {
      width: 100%; }

.post__comments-section__comments__reply__wrapper {
  list-style: none;
  margin-left: 20px; }

.post__comments-section__comments__reply__text {
  background-color: #f8f8f8; }

.post__comments-section__comments__form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none; }
  .post__comments-section__comments__form__wrapper p {
    width: 100%;
    max-width: 340px; }

.post__comments-section__comments__form__submit {
  margin: auto auto 0;
  width: 100%;
  max-width: 170px;
  height: 35px;
  background-color: #333333;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .post__comments-section__comments__form__submit:hover {
    background-color: #c6c6c6;
    color: #333333; }
  .post__comments-section__comments__form__submit__wrapper {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }

.post__comments-section__comments__form__text {
  margin-top: 20px;
  border: 1px solid #000000;
  padding: 15px;
  width: 100%; }

.post__comments-section__comments__form__textarea {
  resize: none;
  min-height: 190px; }
  .post__comments-section__comments__form__textarea__wrapper {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }
    .post__comments-section__comments__form__textarea__wrapper label {
      width: 100%;
      max-width: 475px; }

.post__comments-section__comments__underform__paragraph {
  margin: 30px auto 120px;
  color: #333333;
  font-size: 12px;
  font-weight: 400; }

.post__bottom-section__wrapper {
  margin-bottom: 100px; }

.post__bottom__third-container__list {
  margin: 30px 0 0 30px; }
  .post__bottom__third-container__list a {
    color: #353535;
    line-height: 21px; }

.form-submit {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
